<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form ng-submit="auth.login()">
            <div class="row column log-in-form">
                <h4 class="text-center">Log in with you email account</h4>
                <label>Email
                    <input type="text" placeholder="somebody@example.com"
                    ng-model="auth.email">
                </label>
                <label>Password
                    <input type="password" placeholder="Password"
                    ng-model="auth.password">
                </label>
                <p><button type="submit" class="button expanded">Log In</button></p>
                <p class="text-center"><a href="#">Forgot your password?</a></p>
            </div>
        </form>
    </div>
</div>