<div class="header">
    <div class="row medium-12 large-12" id="header-nav">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a ui-sref="contestList" class="menu-text">Site Title</a></li>
                    <li><a ui-sref="contestHistory">My Contests</a></li>
                    <li><a class="white hollow button" ui-sref="contestCreate">Create Contest</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><user-info></user-info></li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="row medium-12 large-12 columns" id="user-info">-->
        <!--<div class="float-left">-->
            <!--<button class="white hollow button" ui-sref="contestCreate">Create Contest</button>-->
        <!--</div>-->

        <!--<div class="float-right">-->
            <!--<user-info></user-info>-->
        <!--</div>-->
    <!--</div>-->
</div>